body {
    color: #fff;
    background-color: #4F8BF9;
}

iframe {
  margin: auto;
  padding: 45px 0;
}

h2 {
  color: white;
}

/*.stApp {
  background-color: #439995;
}

.block-container {
  background-color: black;
} */

.bib-content {
    background-color: #404040;
    border-radius: 5px;
}

.retracted {
  color: red;
}
